[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.unityproj
*.sln
*.csproj
*.userprefs
*.DS_Store
*.idea/
*.vscode/